// Colors
$dark-grey: #333333;
$grey: #666;
$blue: #33A8FF;
$dark-blue: #364051;
$off-white: #f7f7f7;
// Sizing
$s-size: 1.2rem;
$m-size: 1.6rem; 
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem; 

$font-size-large: 2rem;
$font-size-small: 1.4rem;